{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 card mt-5 pt-4" >
            <h1 class="text-success text-center">{{task.title}}</h1>
            {{error}}
            <div class="row mb-3">
                    <form action="" method="POST" >
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="text-center">
                        <button class="btn btn-primary">Update</button>
                        </div>
                    </form>
                
                   <div class="d-flex justify-content-between">
                    <form action="{% url 'complete_task' task.id %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-secondary">Complete</button>
                    </form>
                
                    <form action="{% url 'delete_task' task.id %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-danger">Delete</button>
                    </form>
                   </div>
            </div>
            
        </div>
    </div>
</main>
</div>

{% endblock %}